@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body[class='dark-mode'] {
	--background: #090b10;
	--color: #fff;
	--linkHover: #777;
	--text-color: #777;

	--linkBaseStroke: #353843;
	--nodeBaseStroke: #65696f;
	--nodeBaseFill: #1a1c24;

	--nodeNameBaseStroke: #777;
	--nodeNameBaseFill: #777;
	--selection-color: #75757542;
}

body[class='light-mode'] {
	--background: #fff;
	--color: #090b10;
	--linkHover: #718096;
	--text-color: #212121;

	--linkBaseStroke: #cbd5e0;
	--nodeBaseStroke: #e2e8f0;
	--nodeBaseFill: #edf0f2;

	--nodeNameBaseStroke: #718096;
	--nodeNameBaseFill: #1a202c;
	--selection-color: #79ffe1;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	background: var(--background);
	color: var(--color);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
	align-items: center;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--color);
}

a:hover {
	color: var(--linkHover);
}

ul {
	padding: 0;
}
li {
	list-style-type: none;
}

::selection {
	background: var(--selection-color);
}

:focus {
	outline: 0;
}
.logo {
	display: flex;
	align-items: center;
}
.logo img {
	margin-right: 5px;
}
.logo .img-light {
	webkit-filter: contrast(4) invert(1);
	-moz-filter: contrast(4) invert(1);
	-o-filter: contrast(4) invert(1);
	-ms-filter: contrast(4) invert(1);
	filter: contrast(4) invert(1);
}

.tree-page .show-flow {
	height: 86vh;
}

.flex {
	display: flex;
}

.Premium {
	background: #4299e1;
	padding: 3px;
	margin-right: 5px;
	font-size: 12px;
	border-radius: 2px;
}

.Free {
	background: #68d391;
	margin-right: 5px;
	padding: 3px;
	font-size: 12px;
	border-radius: 2px;
}

.default-btn {
	background: transparent;
	color: var(--color);
	border: 0px;
	outline: 0;
	cursor: pointer;
	padding: 0 15px;
}
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading .flex {
	display: flex;
	align-items: center;
}

.description {
	font-size: 12px;
	line-height: 1.5rem;
}

/* Homepage */
.home-image {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 0;
}
.hero {
	width: 100%;
	color: #333;
	margin-bottom: 100px;
}
.title {
	margin: 0;
	width: 100%;
	padding-top: 80px;
	line-height: 1.15;
	font-size: 48px;
}
.title,
.description {
	text-align: center;
	color: var(--text-color);
}
.row {
	max-width: 880px;
	margin: 50px auto 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	z-index: 100;
}
.card {
	padding: 18px 18px 24px;
	width: 220px;
	text-align: left;
	text-decoration: none;
	color: var(--text-color);
	border: 1px solid rgba(155, 155, 155, 0.34);
}
.card:hover {
	border-color: #067df7;
}
.card h3 {
	margin: 0;
	color: #067df7;
	font-size: 18px;
}
.card p {
	margin: 0;
	padding: 12px 0 0;
	font-size: 13px;
	color: var(--text-color);
}

/* Menu style */

.menu {
	display: flex;
}

.menu a {
	padding: 0 15px;
}
.options button,
.options a {
	background: transparent;
	color: var(--color);
	border: 0px;
	outline: 0;
	cursor: pointer;
	padding: 0 15px;
}

/* More Roadmap page */
.more-page {
	padding: 1rem 3rem;
	margin-bottom: 100px;
}

.more-page ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.more-page li {
	padding: 6px 0;
	min-width: 300px;
}

.more-page .page-heading span {
	padding-top: 1px;
	padding-left: 10px;
}

/* Details Page */

.details-preview {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	overflow: scroll;
	background: var(--nodeBaseFill);
	height: 100%;
	color: var(--color);
	padding: 1rem;
}
.details-preview li {
	line-height: 30px;
}
.details-preview .description {
	text-align: left;
}

.courses li,
.posts li {
	font-size: 14px;
}

/* Tree List Style  */

.linkBase {
	stroke: var(--linkBaseStroke) !important;
}
.nodeBase {
	stroke: var(--nodeBaseStroke) !important;
	fill: var(--nodeBaseStroke) !important;
}
.leafNodeBase {
	stroke: var(--nodeBaseStroke) !important;
}

.nodeNameBase {
	font-family: monospace;
	align-items: center;
	display: flex;
}

.nodeNameBase img {
	margin-right: 5px;
}

.legends {
	width: 8px;
	height: 7px;
	border-radius: 100%;
	margin-right: 10px;
}

.any {
	background: #ecc94b;
}

.good {
	background: #68d391;
}

.possibility {
	background: #cbd5e0;
}

/* Error Page */

.error {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.error div {
	flex-grow: 1;
}

.error a {
	-webkit-appearance: none;
	position: relative;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-transform: capitalize;
	text-align: center;
	line-height: 38px;
	white-space: nowrap;
	font-weight: 500;
	min-width: 250px;
	height: 50px;
	font-size: 1rem;
	flex-shrink: 0;
	color: rgb(255, 255, 255);
	background-color: #0070f3;
	user-select: none;
	cursor: pointer;
	text-decoration: none;
	padding: 0px 25px;
	transition: all 0.2s ease 0s;
	overflow: hidden;
	outline: none;
	border-radius: 5px;
}

.show-link:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
}
/* Page footer */
footer {
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
}

footer .social-links a {
	padding: 0 10px;
}

.__react_component_tooltip {
	z-index: 999999;
	padding: 5px;
	font-size: 10px;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
	.details-preview {
		width: unset;
		overflow: unset;
		height: unset;
	}

	.details-preview iframe {
		height: 100%;
	}
	.hero {
		margin-bottom: 0px;
	}

	.options a {
		display: none;
	}

	.row {
		width: 78%;
		display: block;
		padding: 1rem;
		margin: 0px auto 0px;
	}
	.card {
		border: 0px;
		margin: 20px 0;
	}
	.home-image {
		display: none;
	}
	.menu a {
		padding: 0 7px;
	}
	.options {
		display: flex;
	}
	.menu a:nth-child(1),
	.menu a:nth-child(2),
	.menu a:nth-child(3) {
		display: none;
	}
	.error {
		display: block;
	}

	.error div {
		margin: 40px 10px;
	}
	footer {
		justify-content: center;
		text-align: center;
		display: block;
	}
}

.github-btn {
	font: bold 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 20px;
	overflow: hidden;
}
.gh-btn,
.gh-count,
.gh-ico {
	float: left;
}
.gh-btn,
.gh-count {
	padding: 2px 5px 2px 4px;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 3px;
}
.gh-btn {
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(100%, #eee));
	background-image: -webkit-linear-gradient(top, #fcfcfc 0, #eee 100%);
	background-image: -moz-linear-gradient(top, #fcfcfc 0, #eee 100%);
	background-image: -ms-linear-gradient(top, #fcfcfc 0, #eee 100%);
	background-image: -o-linear-gradient(top, #fcfcfc 0, #eee 100%);
	background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
	background-repeat: no-repeat;
	border: 1px solid #d5d5d5;
}
.gh-btn:hover,
.gh-btn:focus {
	text-decoration: none;
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(100%, #ddd));
	background-image: -webkit-linear-gradient(top, #eee 0, #ddd 100%);
	background-image: -moz-linear-gradient(top, #eee 0, #ddd 100%);
	background-image: -ms-linear-gradient(top, #eee 0, #ddd 100%);
	background-image: -o-linear-gradient(top, #eee 0, #ddd 100%);
	background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	border-color: #ccc;
}
.gh-btn:active {
	background-image: none;
	background-color: #dcdcdc;
	border-color: #b5b5b5;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.gh-ico {
	width: 14px;
	height: 14px;
	margin-right: 4px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMTIgMTIgNDAgNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMTIgMTIgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5YzAgOC40IDUuNSAxNS41IDEzIDE4YzEgMC4yIDEuMy0wLjQgMS4zLTAuOWMwLTAuNSAwLTEuNyAwLTMuMiBjLTUuMyAxLjEtNi40LTIuNi02LjQtMi42QzIwIDQxLjYgMTguOCA0MSAxOC44IDQxYy0xLjctMS4yIDAuMS0xLjEgMC4xLTEuMWMxLjkgMC4xIDIuOSAyIDIuOSAyYzEuNyAyLjkgNC41IDIuMSA1LjUgMS42IGMwLjItMS4yIDAuNy0yLjEgMS4yLTIuNmMtNC4yLTAuNS04LjctMi4xLTguNy05LjRjMC0yLjEgMC43LTMuNyAyLTUuMWMtMC4yLTAuNS0wLjgtMi40IDAuMi01YzAgMCAxLjYtMC41IDUuMiAyIGMxLjUtMC40IDMuMS0wLjcgNC44LTAuN2MxLjYgMCAzLjMgMC4yIDQuNyAwLjdjMy42LTIuNCA1LjItMiA1LjItMmMxIDIuNiAwLjQgNC42IDAuMiA1YzEuMiAxLjMgMiAzIDIgNS4xYzAgNy4zLTQuNSA4LjktOC43IDkuNCBjMC43IDAuNiAxLjMgMS43IDEuMyAzLjVjMCAyLjYgMCA0LjYgMCA1LjJjMCAwLjUgMC40IDEuMSAxLjMgMC45YzcuNS0yLjYgMTMtOS43IDEzLTE4LjFDNTEgMjEuOSA0Mi41IDEzLjQgMzIgMTMuNHoiLz48L3N2Zz4=');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.gh-count {
	position: relative;
	display: none; /* hidden to start */
	margin-left: 4px;
	background-color: #fafafa;
	border: 1px solid #d4d4d4;
}
.gh-count:hover,
.gh-count:focus {
	color: #4183c4;
}
.gh-count:before,
.gh-count:after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.gh-count:before {
	top: 50%;
	left: -3px;
	margin-top: -4px;
	border-width: 4px 4px 4px 0;
	border-right-color: #fafafa;
}
.gh-count:after {
	top: 50%;
	left: -4px;
	z-index: -1;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #d4d4d4;
}
.github-btn-large {
	height: 30px;
}
.github-btn-large .gh-btn,
.github-btn-large .gh-count {
	padding: 3px 10px 3px 8px;
	font-size: 16px;
	line-height: 22px;
	border-radius: 4px;
}
.github-btn-large .gh-ico {
	width: 20px;
	height: 20px;
}
.github-btn-large .gh-count {
	margin-left: 6px;
}
.github-btn-large .gh-count:before {
	left: -5px;
	margin-top: -6px;
	border-width: 6px 6px 6px 0;
}
.github-btn-large .gh-count:after {
	left: -6px;
	margin-top: -7px;
	border-width: 7px 7px 7px 0;
}
